<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barcode.cvs_review">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CVS_Review"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.Notice"></activity>
        <activity android:name=".activity.MyPage" />
        <activity android:name=".activity.InsertReview" />
        <activity android:name=".activity.BarcodeScanActivity" />
        <activity android:name=".activity.ProductSpecActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ProductListActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="a895419acee08fcc799665fb51144b72" />
    </application>

</manifest>